
Assignment 1/Assignment 1 Draft.docx
Assignment 1/Aircraft-Design-Ref-Sheet.xlsx
Assignment 2/AircraftDesign_Assignment2_Preliminary&PropulsionSizing_Rubric_V1.docx
Assignment 2/Calculations/Aircraft-Design-Ref-Sheet (1).xlsx
Assignment 1/Aircraft-Design-Ref-Sheet.xlsx
