Your submission was successful!
Course: AESP415-001-FALL-2024, Aircraft Design I
Assessment: Assignment 1 - Requirements & Fuselage Design

Submission date: 9/19/24, 10:08 PM
Submission size: 2.8 MB
Submitter: Matthew Burnett
Confirmation number: 8499d4f2087f44619ff7c96b3ea6c94b